html,
body {
    padding: 0;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    text-align: center;
}

.game-intro p {
    font-size: 18px;
    font-family: "Verdana";
}

body button {
    font-size: 30px;
    background-color: lightcyan;
    color: black;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

#game-container {
    /* display: flex; */
    position: relative;
    /* padding: 20px 0px; */
    justify-content: center;
}

#stats-container {
    position: absolute;
    z-index: 1;
    background-color: blanchedalmond;
    top: 32px;
    left: 32px;
    width: 70px;
}

#game-screen {
    display: none;
    align-content: center;
    /* padding: 20px 0px; */
    overflow: hidden;
    position: relative;
    background-image: url(../images/background/beauty-salon-background.jpg);
    background-size: cover;
    /* animation: slide 5s linear infinite; */
}

/* @keyframes slide {
    0% {
        background-position: 0 -1000px;
    }

    95% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 50px;
    }
} */

#face-elements-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    position: absolute;
    top: 385px;
    left: 960px;
    z-index: 1;
}

#eyes {
    width: 70px;
    height: 25px;
}

#nose {
    width: 25px;
    height: 25px;
}

#mouth {
    width: 45px;
    height: 30px;
}

#game-end {
    display: none;
}